body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  font-family: 'Pacifico';

  background-color: rgb(1, 22, 39);
}

.container {
  position: relative;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 20px;

  background-color: whitesmoke;

  border: 40px solid lightseagreen;
  border-radius: 12px;
  outline: 3px solid rgb(73, 90, 48);

  width: 820px;
  height: 820px;
}

.title {
  position: absolute;
  top: 50;

  margin: -40px;

  color: greenyellow;
}